@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700;900&display=swap');

body { 
    
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}

h1 { 
    font-size: 64px;
}

h1, strong {
    font-weight: 700;
}

h1 strong {
    font-family: 'Coiny', cursive;
    font-size: 88px;
}

.marca{
    font-family: 'Coiny', cursive;
    font-size: 88px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.navbar{
    display: flex;
    justify-content: space-between; /* Deja un espacio en el medio entre los items  */
    align-items: center; /* Esto alinea el logo y los links verticalmente al centro */
    padding: 15px 5%;
}

.logo-img{
    height: 50px; /* Define un alto fijo para que todos los logos se vean uniformes, lo sube respecto a la linea horizontal */
    width: auto;  /* Mantiene la proporción */
    display: inline-block; /* inline-block para que se comporte más como texto */
    vertical-align: middle; /* Cambiamos a inline-block para que se comporte más como texto */
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 80px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color:black;
}

#subtitulo {
    font-weight: 400; 
    font-size: 26px;
}

#titulo-seccion { 
    font-size: 26px;
    font-weight: 900;
}

#servicios-seccion{
    font-size:40px;
    font-weight: 700;
}

#contacto-seccion {
    font-size:50px;
    font-weight: 700;
}

.main-footer {
    background-color: #f4f4f4; 
    padding: 40px 20px 20px;
    font-family: 'Roboto', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Para que en móviles los elementos se pongan uno abajo del otro */
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.marca-footer {
    font-family: 'Coiny', cursive;
    font-size: 24px;
    color: #333;
}

.footer-contact h4, .footer-social h4 {
    font-weight: 900; 
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 14px;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-links img {
    width: 30px; /* Tamaño controlado para los iconos de las redes */
    height: auto;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.1); /* Efecto al pasar el mouse */
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    font-size: 12px;
}